<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Suite Cucumber TestNG" parallel="tests">
    <test name="TC_Login Mobile">
        <classes>
            <class name="co.com.empresa.runners.MobileTestRunner"/>
        </classes>
    </test>
    <test name="TC_Login Web">
        <classes>
            <class name="co.com.empresa.runners.WebTestRunner"/>
        </classes>
    </test>
</suite>
